Repository teslamate-org/teslamate, pull requests merged in 2023-11, with the labels that each got.

#3087 Add charging_state to VehicleSummary
  lib/teslamate/vehicles/vehicle/summary.ex
Labels: enhancement

#3311 Add LFP variants of Grafana dashboards
  grafana/dashboards/battery-health-lfp.json
  grafana/dashboards/charging-stats-lfp.json
  grafana/dashboards/overview-lfp.json
Labels: area:dashboard

#3030 feat: Avg cost statistics in statistics dashboard
  grafana/dashboards/statistics.json
Labels: area:dashboard

#2845 docu: Update HA integrations docs with TPMS sensors and examples
  website/docs/integrations/home_assistant.md
Labels: kind:documentation

#3443 style: Dashboard links
  grafana/dashboards/charges.json
  grafana/dashboards/locations.json
  grafana/dashboards/trip.json
Labels: area:dashboard

#3461 doc: fix code style in freebsd section
  website/docs/installation/freebsd.md
Labels: kind:documentation

#3465 ci: use elixir 1.16
  .github/workflows/elixir.yml
Labels: github_actions

#3472 Updating Docs to advise docker-compose v1 is EOL and to upgrade to v2
  website/docs/maintenance/backup_restore.md
  website/docs/maintenance/manually_fixing_data.mdx
  website/docs/upgrading.mdx
Labels: kind:documentation, area:teslamate

#3439 Use built-in grafana visuals instead of plugins
  grafana/dashboards/battery-health-lfp.json
  grafana/dashboards/battery-health.json
  grafana/dashboards/charging-stats-lfp.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/trip.json
  grafana/dashboards/visited.json
Labels: area:grafana, area:dashboard

#3454 Ensure Dashboards can be modified after Import - Migrate Projected Range to TimeSeries
  grafana/dashboards/drives.json
  grafana/dashboards/locations.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
Labels: area:dashboard

#3455 Grafana update to 10.1.2
  grafana/Dockerfile
Labels: area:grafana, docker

#3477 Update to Nodejs 20
  Dockerfile
  assets/package-lock.json
  assets/package.json
Labels: dependencies, docker

#3479 Run CI with PR sources
  .github/workflows/ghcr_build.yml
Labels: github_actions

#3480 GHCR Purge success even if package doesn't exist
  .github/workflows/ghcr_purge.yml
Labels: github_actions

#3452 Add credo lint support
  .credo.exs
  mix.exs
  mix.lock
Labels: enhancement

#3471 Add charging_state to VehicleSummary
  lib/teslamate/vehicles/vehicle/summary.ex
  test/teslamate/vehicles/vehicle/charging_test.exs
Labels: area:teslamate

#3481 WIP: Update VERSION to test CI
  VERSION
Labels: WIP

#3491 fix: login to docker hub before build&push action
  .github/workflows/buildx.yml
Labels: github_actions

#3498 grafana: support DATABASE_SSL_MODE
  grafana/Dockerfile
  grafana/datasource.yml
Labels: area:grafana, docker

#3497 Support server_name_indication for ssl
  config/runtime.exs
  website/docs/configuration/environment_variables.md
Labels: elixir

#3344 Use recommended format for Home Assistant MQTT sensor configuration
  website/docs/integrations/home_assistant.md
Labels: kind:documentation
