Repository teslamate-org/teslamate, pull requests merged in 2024-05, with the labels that each got.

#3862 Update statistics.json: timezone issues addressed
  grafana/dashboards/statistics.json
Labels: area:dashboard

#3854 Statistics: fix temperature colors and column layout for Fahrenheit
  grafana/dashboards/statistics.json
Labels: Stale, area:dashboard

#3866 Dynamic endpoints and token to use official Tesla API (self-hosted or from third party provider)
  lib/tesla_api/auth.ex
  lib/tesla_api/auth/refresh.ex
  lib/tesla_api/stream.ex
  lib/tesla_api/vehicle.ex
  lib/teslamate/http.ex
  lib/teslamate/vehicles/vehicle.ex
  lib/teslamate_web/live/signin_live/index.ex
  lib/teslamate_web/live/signin_live/index.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
  website/docs/configuration/environment_variables.md
Labels: area:teslamate

#3908 doc: update backup path location to current directory to work around no write access to placeholder directory issue
  CHANGELOG.md
  website/docs/maintenance/backup_restore.md
Labels: kind:documentation

#3431 Update TeslaFi importer to accept newer export formats
  lib/teslamate/import.ex
  lib/teslamate/import/line_parser.ex
  test/fixtures/import/07_alternative_variant/112023.csv
  test/teslamate/import_test.exs
  website/docs/configuration/environment_variables.md
  website/docs/import/teslafi.md
Labels: area:teslamate

#3884 Upgrade PostgreSQL to v16
  website/docs/guides/apache.md
  website/docs/guides/traefik.md
  website/docs/installation/docker.md
Labels: dependencies, area:teslamate

#3916 ci: Upgrade PostgreSQL to v16 in elixir workflow
  .github/workflows/elixir.yml
Labels: github_actions

#3903 Dynamic endpoints and token to use official Tesla API (self-hosted or from third party provider)
  lib/tesla_api/auth.ex
  lib/tesla_api/auth/refresh.ex
  lib/tesla_api/stream.ex
  lib/tesla_api/vehicle.ex
  lib/teslamate/http.ex
  lib/teslamate/vehicles/vehicle.ex
  lib/teslamate_web/live/signin_live/index.ex
  lib/teslamate_web/live/signin_live/index.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
  website/docs/configuration/environment_variables.md
Labels: enhancement, area:tesla api, area:teslamate

#3863 Add-more-ways-to-recognize-Supercharger-locations
  grafana/dashboards/charging-stats-lfp.json
  grafana/dashboards/charging-stats.json
Labels: area:dashboard

#3919 Update MQTT examples of location/active_route
  website/docs/integrations/mqtt.md
Labels: kind:documentation

#3923 Update HomeAssistant docs to use new MQTT values
  website/docs/integrations/home_assistant.md
Labels: kind:documentation
