Repository teslamate-org/teslamate, pull requests merged in 2024-07, with the labels that each got.

#3940 Customize intervals between vehicle_data calls
  lib/teslamate/vehicles/vehicle.ex
  website/docs/configuration/environment_variables.md
Labels: enhancement, area:tesla api, area:teslamate

#3978 Documentation for new endpoint changes
  website/docs/guides/api.md
  website/docs/projects.md
  website/sidebars.js
Labels: kind:documentation

#4019 feat: Grafana 11.1.0 & Dashboard improvements
  CHANGELOG.md
  grafana/Dockerfile
  grafana/dashboards/overview.json
  grafana/dashboards/timeline.json
Labels: area:grafana, area:dashboard

#4025 doc: Add Grafana VS Code extension documentation
  CHANGELOG.md
  website/docs/development.md
Labels: kind:documentation

#3985 dashboards: re-enable time picker by default in drive-details, charge…
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
Labels: area:dashboard

#3989 Update vehicle.ex with marketing name for Model Y Long Range RWD
  lib/teslamate/vehicles/vehicle.ex
Labels: enhancement

#4031 Improve "Charges" dashboard
  grafana/dashboards/charges.json
  website/static/screenshots/charging-history.png
Labels: area:dashboard

#4033 Improve "Drives" dashboard
  grafana/dashboards/drives.json
  website/static/screenshots/drives.png
Labels: area:dashboard

#3993 feat: Add ability to enable and disable data collection for cars
  lib/teslamate/import.ex
  lib/teslamate/settings.ex
  lib/teslamate/settings/car_settings.ex
  lib/teslamate/vehicles.ex
  lib/teslamate_web/live/settings_live/index.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
  priv/repo/migrations/20240603152807_add_enabled_to_car_settings.exs
  test/teslamate/settings_test.exs
Labels: enhancement

#3813 publish center_display_state to mqtt
  lib/teslamate/mqtt/pubsub/vehicle_subscriber.ex
  lib/teslamate/vehicles/vehicle/summary.ex
  website/docs/integrations/mqtt.md
Labels: enhancement

#4007 feat: add LFP Battery setting for car settings
  lib/teslamate/settings/car_settings.ex
  lib/teslamate_web/live/settings_live/index.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
  priv/repo/migrations/20240627021414_add_lfp_battery_car_setting.exs
  test/teslamate/settings_test.exs
Labels: area:dashboard, area:teslamate

#4038 feat: add LFP Battery setting for car settings
  CHANGELOG.md
Labels: enhancement

#4042 Update vehicle.ex with marketing name for Model Y SR
  lib/teslamate/vehicles/vehicle.ex
Labels: enhancement

#4045 Update overview.json: fix Net
  grafana/dashboards/overview.json
Labels: area:dashboard

#4046 build: update website dependencies, doc: fix markdown linter warnings in faq
  .node-version
  CHANGELOG.md
  website/docs/faq.md
  website/package-lock.json
  website/package.json
Labels: dependencies

#4043 Add icon to summary when Sentry Mode is triggered and recording
  lib/teslamate_web/live/car_live/summary.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
Labels: enhancement

#4049 style: fix single quoted string in car_live
  CHANGELOG.md
  lib/teslamate_web/live/car_live/summary.html.heex
Labels: enhancement

#4048 update overview dashboard to fix units for energy consumption
  CHANGELOG.md
  grafana/dashboards/overview.json
Labels: area:dashboard

#4051 use lfp_battery setting in dashboards & speed up updates dashboard
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/overview.json
  grafana/dashboards/updates.json
Labels: enhancement, area:dashboard

#4052 feat: update breadcrumb links to use Phoenix path helpers
  CHANGELOG.md
  lib/teslamate_web/live/charge_live/cost.html.heex
  lib/teslamate_web/live/geofence_live/form.html.heex
  lib/teslamate_web/live/geofence_live/index.html.heex
  lib/teslamate_web/live/import_live/index.html.heex
  lib/teslamate_web/live/settings_live/index.html.heex
Labels: enhancement, area:teslamate

#4056 Fix hard coded informations (timezone and orgId)
  grafana/dashboards/battery-health.json
  grafana/dashboards/overview.json
  grafana/dashboards/statistics.json
Labels: area:dashboard

#4066 ci: fix coverage report env variable
  .github/workflows/elixir.yml
  CHANGELOG.md
Labels: github_actions

#4076 ci: pin github action dependencies to protect against supply chain attacks
  .github/actions/build/action.yaml
  .github/actions/grafana/action.yml
  .github/actions/merge/action.yml
  .github/workflows/buildx.yml
  .github/workflows/elixir.yml
  .github/workflows/ghcr_build.yml
  .github/workflows/ghcr_purge.yml
  .github/workflows/stale.yml
Labels: security, github_actions

#4074 Improve Battery Health dashboard estimations on rated range
  grafana/dashboards/battery-health.json
Labels: area:dashboard

#4084 doc: Add initial author and list of contributors to README.md
  CHANGELOG.md
  README.md
Labels: kind:documentation

#4089 Update charges.json: range added per hour
  grafana/dashboards/charges.json
Labels: area:dashboard

#4097 Adding missing Swedish translation
  CHANGELOG.md
  priv/gettext/sv/LC_MESSAGES/default.po
Labels: enhancement

#4095 Fix 401 on direct Fleet API calls
  lib/tesla_api/auth.ex
  lib/tesla_api/auth/refresh.ex
Labels: kind:bug, area:teslamate

#4103 doc: add steps to the guide regarding how to switch to Fleet API
  website/docs/guides/api.md
Labels: kind:documentation
