Repository teslamate-org/teslamate, pull requests merged in 2024-08, with the labels that each got.

#4120 chore: correct comment for pinned Docker login-action to version 3.2.0
  .github/workflows/buildx.yml
  .github/workflows/ghcr_build.yml
  CHANGELOG.md
Labels: enhancement

#4124 small visual distinguish between AC & DC charging in charges dashboard and unification of the DC coloring in all dashboards
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
Labels: area:dashboard

#4135 chore: update PostgreSQL to version 16 in flake.nix
  CHANGELOG.md
  flake.nix
Labels: enhancement

#4148 Improve drive stats
  grafana/dashboards/drive-stats.json
  website/static/screenshots/drive-stats.png
Labels: area:dashboard

#4146 Improve drives dashboard
  grafana/dashboards/drives.json
  website/static/screenshots/drives.png
Labels: area:dashboard

#4144 Odometer in charges
  grafana/dashboards/charges.json
  website/static/screenshots/charging-history.png
Labels: area:dashboard

#4151 doc: Update screenshots and rearrange links
  website/docs/screenshots.mdx
  website/static/screenshots/charge-level.png
  website/static/screenshots/mileage.png
  website/static/screenshots/race_track.png
  website/static/screenshots/statistics.png
  website/static/screenshots/timeline.png
  website/static/screenshots/trip.png
  website/static/screenshots/updates.png
  website/static/screenshots/vampire_drain.png
Labels: kind:documentation

#4137 Update charging-stats for handling suc cost mixed with AC charge on TWC
  grafana/dashboards/charging-stats.json
Labels: area:dashboard

#4153 Fix the issue of failing to restore efficiency dashboard.
  grafana/dashboards.sh
  grafana/dashboards/efficiency.json
Labels: area:grafana

#4173 doc: clarify using fleet api has lots of drawbacks
  CHANGELOG.md
  website/docs/guides/api.md
Labels: kind:documentation
