Repository teslamate-org/teslamate, pull requests merged in 2024-03, with the labels that each got.

#3709 Update default.po （Traditional Chinese details updated）
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
Labels: enhancement

#3716 Adding missing Swedish translation
  priv/gettext/sv/LC_MESSAGES/default.po
Labels: enhancement

#3718 Fix name in lovelace example to match sensor name
  website/docs/integrations/home_assistant.md
Labels: kind:documentation

#3720 Hint for null value in Grafana if car has not been renamed yet
  website/docs/faq.md
Labels: kind:documentation

#3726 Grafana 10.4.0 & Angular Deprecation
  grafana/Dockerfile
Labels: area:grafana, docker

#3732 build: use netcat-openbsd to support ipv6 again
  CHANGELOG.md
  Dockerfile
Labels: docker

#3738 Make tests non-async
  test/teslamate/vehicles/vehicle/charging_test.exs
  test/teslamate/vehicles/vehicle/driving_test.exs
  test/teslamate/vehicles/vehicle/streaming_test.exs
  test/teslamate/vehicles/vehicle/suspend_logging_test.exs
  test/teslamate/vehicles/vehicle/suspend_test.exs
  test/teslamate/vehicles/vehicle/updating_test.exs
Labels: enhancement, elixir, area:teslamate

#3740 build: adding chmod to file copy in app stage
  CHANGELOG.md
  Dockerfile
Labels: docker

#3741 Added Distance (Logged - Mileage) stats
  grafana/dashboards/battery-health.json
Labels: enhancement, area:dashboard

#3672 Fix agressive switch to offline when stream gets offline message
  lib/teslamate/vehicles/vehicle.ex
  test/teslamate/vehicles/vehicle/streaming_test.exs
Labels: enhancement, area:teslamate

#3697 Replace tortoise library with tortoise311
  lib/teslamate/mqtt.ex
  lib/teslamate/mqtt/handler.ex
  lib/teslamate/mqtt/publisher.ex
  mix.exs
  mix.lock
Labels: enhancement

#3729 Add location topic
  lib/teslamate/mqtt/pubsub/vehicle_subscriber.ex
  test/teslamate/mqtt/pubsub/vehicle_subscriber_test.exs
  test/teslamate/vehicles/vehicle_sync_test.exs
  website/docs/integrations/mqtt.md
Labels: enhancement, area:teslamate

#3744 Update timeline.json: column Action larger width
  grafana/dashboards/timeline.json
Labels: area:dashboard

#3485 Add nix flake
  .envrc
  .gitignore
  CHANGELOG.md
  assets/package-lock.json
  config/runtime.exs
  flake.lock
  flake.nix
  lib/teslamate_web/cldr.ex
Labels: enhancement

#3756 Improve estimations on Battery Health dashboard
  grafana/dashboards/battery-health.json
  website/static/screenshots/battery-health.png
Labels: area:dashboard

#3757 Update overview.json: add time range to states link
  grafana/dashboards/overview.json
Labels: area:dashboard

#3758 Update overview.json: add time range to charges links
  grafana/dashboards/overview.json
Labels: area:dashboard

#3771 Add URL_PATH environment variable for reverse proxy deployments
  assets/js/app.js
  config/runtime.exs
  lib/teslamate_web/templates/layout/root.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
  website/docs/configuration/environment_variables.md
Labels: enhancement, undetermined

#3772 fix: permissions denied error when specifying user
  Dockerfile
Labels: docker

#3795 Battery Health: Fix a bug on efficiency estimations
  grafana/dashboards/battery-health.json
Labels: kind:bug, area:dashboard
