Repository teslamate-org/teslamate, pull requests merged in 2024-11, with the labels that each got.

#4345 docs: add contributing guidelines
  CHANGELOG.md
  CONTRIBUTING
Labels: kind:documentation

#4349 fix: Charges Dashboard -> Range added renamed to Ø Charge rate
  grafana/dashboards/charges.json
Labels: enhancement, area:dashboard

#4359 docs: update Home Assistant integration documentation with configuration URL and model name hints
  CHANGELOG.md
  nix/flake-modules/formatter.nix
  treefmt.toml
  website/docs/integrations/home_assistant.md
Labels: enhancement, kind:documentation

#4364 Fix Axis Labels for XY Chart in Battery Health and reduces Query count in Visited
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/locations.json
  grafana/dashboards/mileage.json
  grafana/dashboards/overview.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
Labels: area:dashboard

#4370 feat: Update marketing name to recognize Model S LR+
  lib/teslamate/vehicles/vehicle.ex
Labels: enhancement, area:teslamate

#4372 ci: create PR to udpate flake.lock every saturday
  .github/workflows/update-flack-lock.yml
Labels: enhancement, dependencies, github_actions

#4367 feat: Dashboard refinements and standardization
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/locations.json
  grafana/dashboards/overview.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
Labels: enhancement, area:dashboard

#4386 feat: add Detailed Energy Use to drive-details
  grafana/dashboards/internal/drive-details.json
Labels: area:dashboard

#4390 docs: Introducing TeslaMate Guru on Gurubase.io
  website/docs/projects.md
Labels: kind:documentation
