Repository teslamate-org/teslamate, pull requests merged in 2024-01, with the labels that each got.

#3623 docs/integration: Node-RED required modules should be saved under /data
  website/docs/integrations/Node-RED.md
Labels: kind:documentation

#3613 Fix TPMS sensor names to match mqtt_sensors.yaml
  website/docs/integrations/home_assistant.md
Labels: kind:documentation

#3508 Handle "Vehicle is offline" from stream
  lib/tesla_api/stream.ex
  lib/teslamate/vehicles/vehicle.ex
  test/teslamate/vehicles/vehicle/streaming_test.exs
Labels: area:tesla api, area:teslamate

#3593 Improve Battery health derived efficiency estimations and Fix error divided by zero
  README.md
  grafana/dashboards/battery-health.json
  website/docs/screenshots.mdx
  website/static/screenshots/battery-health.png
Labels: area:dashboard

#3627 Battery Health - Improve performance & adjust queries to handle empty or null data
  grafana/dashboards/battery-health.json
Labels: area:dashboard

#3625 charging-stats: map - add charges count and move label
  grafana/dashboards/charging-stats-lfp.json
  grafana/dashboards/charging-stats.json
Labels: area:dashboard

#3328 Support listening on unix domain socket
  config/runtime.exs
  mix.exs
  mix.lock
  website/docs/guides/unix_domain_sockets.md
  website/sidebars.js
Labels: enhancement, elixir
