Repository teslamate-org/teslamate, pull requests merged in 2024-10, with the labels that each got.

#4228 perf: limit positions to set elevation for to last 10 days
  lib/teslamate/log.ex
Labels: enhancement

#4219 ci: add treefmt as code formatting multiplexer, refactor CI to avoid duplication, reorg CI into DevOps workflow
  .github/actions/build/action.yaml
  .github/actions/setup-elixir-and-cache-deps/action.yml
  .github/workflows/buildx.yml
  .github/workflows/check_paths.yml
  .github/workflows/devops.yml
  .github/workflows/elixir.yml
  .github/workflows/elixir_dep_verification_and_static_analysis.yml
  .github/workflows/elixir_test.yml
  .github/workflows/ensure_linting.yml
  .github/workflows/ghcr_build.yml
  .github/workflows/ghcr_purge.yml
  .github/workflows/spell_check.yml
  .github/workflows/stale.yml
  .markdownlint.yaml
  CHANGELOG.md
  README.md
  assets/js/hooks.js
  assets/js/main.js
  assets/scripts/build.js
  coveralls.json
  entrypoint.sh
  flake.lock
  flake.nix
  grafana/dashboards.sh
  grafana/dashboards.yml
  module.nix
  nix/flake-modules/formatter.nix
  treefmt.toml
  website/docs/configuration/environment_variables.md
  website/docs/development.md
  website/docs/faq.md
  website/docs/guides/api.md
  website/docs/guides/unix_domain_sockets.md
  website/docs/import/tesla_apiscraper.md
  website/docs/integrations/Node-RED.md
  website/docs/integrations/home_assistant.md
  website/docs/integrations/mqtt.md
  website/docs/maintenance/backup_restore.md
  website/docs/maintenance/manually_fixing_data.mdx
  website/docs/screenshots.mdx
  website/sidebars.js
Labels: enhancement, kind:idea, github_actions

#4276 docs: update changelog
  CHANGELOG.md
Labels: kind:documentation, github_actions

#4252 perf: fix skipping streaming data
  grafana/dashboards/charging-stats.json
Labels: enhancement, area:dashboard

#4257 docs: fix Home Assistant MQTT sensor JSON templates warnings
  website/docs/integrations/home_assistant.md
Labels: kind:documentation

#4258 perf: improvements drive stats
  grafana/dashboards/drive-stats.json
Labels: enhancement, area:dashboard

#4279 feat: use Grafana 11.0.6-security-01
  grafana/Dockerfile
Labels: area:grafana, docker

#4284 fix: for drives not showing if duration < 1 minute and feat: add max speed in drives dashboard
  grafana/dashboards/drives.json
Labels: kind:bug, enhancement, area:dashboard

#4286 perf: exclude streaming data when getting battery level
  grafana/dashboards/overview.json
Labels: enhancement, area:dashboard

#4287 perf: exclude streaming data in visited dashboard
  grafana/dashboards/visited.json
Labels: enhancement, area:dashboard

#4288 docs: add best practice section to contribution guide
  website/docs/development.md
Labels: kind:documentation

#4292 small refinements
  CHANGELOG.md
Labels: kind:documentation

#4289 fix: weighted average calculation for consumption in drives dashboard
  grafana/dashboards/drives.json
Labels: area:dashboard

#4300 fix: hard-coded length unit in battery health dashboard
  grafana/dashboards/battery-health.json
Labels: area:dashboard

#4301 perf: improvement in charge level
  grafana/dashboards/charge-level.json
Labels: enhancement, area:dashboard

#4277 feat: update to Phoenix HTML 4.1, bump dependencies
  lib/teslamate_web.ex
  lib/teslamate_web/gettext.ex
  lib/teslamate_web/live/car_live/summary.ex
  lib/teslamate_web/live/charge_live/cost.ex
  lib/teslamate_web/live/charge_live/cost.html.heex
  lib/teslamate_web/live/geofence_live/form.ex
  lib/teslamate_web/live/geofence_live/form.html.heex
  lib/teslamate_web/live/geofence_live/index.html.heex
  lib/teslamate_web/live/import_live/index.html.heex
  lib/teslamate_web/live/settings_live/index.ex
  lib/teslamate_web/live/settings_live/index.html.heex
  lib/teslamate_web/templates/layout/root.html.heex
  lib/teslamate_web/views/error_helpers.ex
  lib/teslamate_web/views/layout_view.ex
  mix.exs
  mix.lock
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
  test/teslamate_web/live/geofence_live_test.exs
  test/teslamate_web/live/settings_test.exs
Labels: dependencies, area:teslamate

#4304 perf: improvement and deprecated syntax removal
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/locations.json
  grafana/dashboards/mileage.json
  grafana/dashboards/overview.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
Labels: enhancement, area:dashboard

#4305 perf: add ideal_battery_range_km as query condition
  grafana/dashboards/drive-stats.json
  grafana/dashboards/overview.json
  lib/teslamate/log.ex
Labels: enhancement, area:dashboard

#4253 feat: add max speed & speed histogram to drive stats
  grafana/dashboards/drive-stats.json
Labels: area:dashboard

#4313 fix: correct unit of date column in drives dashboard
  grafana/dashboards/charges.json
Labels: area:dashboard

#4318 fix: remove convert_km from kwh calculations in timeline dashboard
  grafana/dashboards/timeline.json
Labels: area:dashboard

#4317 fix: ensure dutch-tax dashboard is not repeating multiple times per car (row and table)
  grafana/dashboards/reports/dutch-tax.json
Labels: area:dashboard

#4320 Spanish translation of missing items
  priv/gettext/es/LC_MESSAGES/default.po
Labels: enhancement

#4319 fix: use elixir-1.17.3-otp-26 to avoid beam.smp chewing CPU on arm
  .github/actions/setup-elixir-and-cache-deps/action.yml
  CHANGELOG.md
  Dockerfile
  nix/flake-modules/package.nix
  website/docs/development.md
Labels: kind:bug, docker
