Repository teslamate-org/teslamate, pull requests merged in 2024-09, with the labels that each got.

#4164 Improve rounding to month / weeks / days in Updates "Since Previous Update" column
  CHANGELOG.md
  grafana/dashboards/updates.json
Labels: area:dashboard

#4179 feat: Improve cost filter on Charges dashboard to show charges with negative cost as well
  grafana/dashboards/charges.json
Labels: area:dashboard

#4198 feat: display vehicle VIN as a fallback for vehicle name on grafana dashboards
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/locations.json
  grafana/dashboards/mileage.json
  grafana/dashboards/overview.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
Labels: area:dashboard

#4200 add moving average / percentiles to charge level and support longer periods
  CHANGELOG.md
  grafana/dashboards/charge-level.json
  priv/repo/migrations/20240915193446_composite_index_with_predicate_to_position.exs
  website/static/screenshots/charge-level.png
Labels: enhancement, area:dashboard

#4205 chore: Update tzdata to version 1.1.2 and mimerl to version 1.3.0
  CHANGELOG.md
  mix.lock
Labels: dependencies

#4207 ci: enable dependabot for mix and npm
  .github/dependabot.yml
Labels: github_actions

#4217 timezone fixes and moving window on beginning of period
  grafana/dashboards/charge-level.json
Labels: area:dashboard

#4191 increase max battery charge gauge threshold to 101 in case of LFP
  grafana/dashboards/overview.json
Labels: area:dashboard

#4231 PostgreSQL 17
  .github/workflows/elixir.yml
  priv/repo/migrations/20190925152807_create_geo_extensions.exs
  priv/repo/migrations/20240929084639_recreate_geo_extensions.exs
  website/docs/development.md
  website/docs/guides/apache.md
  website/docs/guides/traefik.md
  website/docs/installation/debian.md
  website/docs/installation/docker.md
  website/docs/installation/freebsd.md
  website/docs/maintenance/backup_restore.md
Labels: enhancement, dependencies

#4230 multiple cars, same name, add vin next to name
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/locations.json
  grafana/dashboards/mileage.json
  grafana/dashboards/overview.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
Labels: enhancement

#4229 json_build_object instead of concat in battery-health
  grafana/dashboards/battery-health.json
Labels: area:dashboard

#4227 fix: add nix module option to specify postgres package
  module.nix
Labels: enhancement
