Repository teslamate-org/teslamate, pull requests merged in 2024-04, with the labels that each got.

#3804 Update zh_Hans default.po typo
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
Labels: enhancement

#3808 ci: update typos false positive list
  .typos.toml
  CHANGELOG.md
Labels: kind:bug, github_actions

#3789 Publish extra active_route fields to mqtt output
  lib/teslamate/mqtt/pubsub/vehicle_subscriber.ex
  lib/teslamate/vehicles/vehicle/summary.ex
  test/teslamate/mqtt/pubsub/vehicle_subscriber_test.exs
  test/teslamate/vehicles/vehicle_sync_test.exs
  website/docs/integrations/mqtt.md
Labels: enhancement

#3806 Battery Health dashboard: new stats panel for efficiency and improve query performance
  grafana/dashboards/battery-health.json
  website/static/screenshots/battery-health.png
Labels: area:dashboard

#3824 Add stats to Visited dashboard
  grafana/dashboards/visited.json
  website/static/screenshots/lifetime_driving_map.png
Labels: area:dashboard

#3833 doc: update links to token apps in FAQ
  CHANGELOG.md
  website/docs/faq.md
Labels: kind:documentation

#3834 Update Thresholds colors for ºF temperature
  grafana/dashboards/charges.json
Labels: area:dashboard

#3836 Velocity/Speed histogram in drive details dashboard
  grafana/dashboards/internal/drive-details.json
  website/static/screenshots/drive.png
Labels: enhancement, area:dashboard

#3856 doc: add testing with ci build docker images to contributing guide
  CHANGELOG.md
  website/docs/development.md
Labels: kind:documentation

#3850 Fix missing units when miles is used
  grafana/dashboards/charges.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/reports/dutch-tax.json
Labels: area:dashboard

#3852 Statistics: Add max value for efficiency thresholds
  grafana/dashboards/statistics.json
Labels: area:dashboard

#3841 Add average cost per kWh for AC and DC as separate values
  grafana/dashboards/charging-stats-lfp.json
  grafana/dashboards/charging-stats.json
Labels: area:dashboard

#3872 doc: adding filename specification for TeslaFi import file
  website/docs/import/teslafi.md
Labels: kind:documentation
