Repository teslamate-org/teslamate, pull requests merged in 2024-12, with the labels that each got.

#4420 build(nix): switch to nixos-24.11
  flake.lock
  flake.nix
Labels: enhancement

#4428 fix: update mix deps hash to fix build error on recent NixOS 24.11 update
  nix/flake-modules/package.nix
Labels: kind:bug

#4299 feat: Update Grafana to 11.4.0
  CHANGELOG.md
  grafana/Dockerfile
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/internal/home.json
  grafana/dashboards/locations.json
  grafana/dashboards/mileage.json
  grafana/dashboards/overview.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
  website/docs/installation/debian.md
Labels: enhancement, area:grafana, docker, area:dashboard

#4430 doc: align node req with what is used in CI
  website/docs/installation/debian.md
  website/docs/installation/freebsd.md
Labels: kind:documentation

#4448 fix for battery health dashboard erroring out if no charge data has been collected so far
  grafana/dashboards/battery-health.json
Labels: enhancement, area:dashboard

#4452 fix: url for releases in home dashboard
  grafana/dashboards/internal/home.json
Labels: area:dashboard
