Repository teslamate-org/teslamate, pull requests merged in 2025-06, with the labels that each got.

#4787 fix: align usage of time-range filters to fix consumption gross issues in some edge cases
  CHANGELOG.md
  grafana/dashboards/statistics.json
  grafana/dashboards/trip.json
Labels: area:dashboard

#4791 feat(dashboards): several Improvements for Charging Stats, Statistics and Trip
  CHANGELOG.md
  grafana/dashboards/charging-stats.json
  grafana/dashboards/statistics.json
  grafana/dashboards/trip.json
  website/static/screenshots/trip.png
Labels: area:dashboard

#4804 docs: Update README.md to fix typo
  README.md
Labels: kind:documentation

#4805 feat: use Grafana 12.0.2
  CHANGELOG.md
  grafana/Dockerfile
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/database-info.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/internal/home.json
  grafana/dashboards/locations.json
  grafana/dashboards/mileage.json
  grafana/dashboards/overview.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
Labels: area:grafana
