Repository teslamate-org/teslamate, pull requests merged in 2025-04, with the labels that each got.

#4649 ci: fix ghcr build
  .github/workflows/ghcr_build.yml
  CHANGELOG.md
Labels: github_actions

#4651 ci: fix ghcr build
  CHANGELOG.md
Labels: github_actions

#4647 feat: make use of car filter, add timefilter in locations dashboard
  CHANGELOG.md
  grafana/dashboards/locations.json
Labels: enhancement, area:grafana, area:dashboard

#4660 ci: skip ghcr build for PRs from outside repo
  .github/workflows/ghcr_build.yml
  CHANGELOG.md
Labels: github_actions

#4654 feat:show tpms value to the low pressure tooltip in webview
  CHANGELOG.md
  lib/teslamate_web/live/car_live/summary.ex
  lib/teslamate_web/live/car_live/summary.html.heex
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
Labels: enhancement, area:teslamate

#4659 docs: allow to add energy added to the Home Assistant's Energy tab to measure how much energy each session uses
  website/docs/integrations/home_assistant.md
Labels: kind:documentation

#4666 ci(dependabot): add ignore rules for path-based dependencies
  .github/dependabot.yml
  CHANGELOG.md
Labels: github_actions

#4682 fix: use same rated range calculation in updates dashboard as in battery health dashboard
  CHANGELOG.md
  grafana/dashboards/updates.json
Labels: area:dashboard

#4680 fix(nix): non-recursive provider for ../grafana/dashboards
  CHANGELOG.md
  nix/flake-modules/package.nix
  nix/module.nix
Labels: kind:bug

#4684 fix: set $__timezone explicitly in dashboards to ensure truncation is done with respect to the Grafana timezone
  CHANGELOG.md
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/overview.json
  grafana/dashboards/statistics.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/visited.json
  website/docs/development.md
Labels: area:dashboard

#4662 feat: use Grafana 11.6.1 to fix issues when using browser locale for date formats
  CHANGELOG.md
  grafana/Dockerfile
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/database-info.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/internal/home.json
  grafana/dashboards/locations.json
  grafana/dashboards/mileage.json
  grafana/dashboards/overview.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
  grafana/datasource.yml
  nix/module.nix
  website/docs/installation/debian.md
  website/docs/installation/freebsd.md
Labels: area:grafana, docker

#4702 fix: new image on home dashboard as old got removed from Tesla mediaserver
  CHANGELOG.md
  grafana/dashboards/internal/home.json
Labels: area:dashboard
