Repository teslamate-org/teslamate, pull requests merged in 2025-10, with the labels that each got.

#4983 fix: charging stats now correctly calculate cost when set to miles
  grafana/dashboards/charging-stats.json
Labels: kind:bug, area:dashboard

#4964 perf: Optimize Grafana query for trip view to leverage indexes more effectively
  grafana/dashboards/trip.json
Labels: area:dashboard

#4989 feat: add shared buffers size to db info dashboard
  CHANGELOG.md
  grafana/dashboards/database-info.json
Labels: enhancement, area:dashboard

#4979 fix: allow using different PostgreSQL port than default when using socket_dir connection
  config/runtime.exs
Labels: enhancement, elixir, area:teslamate

#4988 fix: correctly determine charging phases in charge detail dashboard
  CHANGELOG.md
  grafana/dashboards/internal/charge-details.json
Labels: enhancement, area:dashboard
