Repository teslamate-org/teslamate, pull requests merged in 2025-02, with the labels that each got.

#4509 feat: Grafana 11.5.0
  grafana/Dockerfile
  grafana/dashboards/battery-health.json
  grafana/dashboards/charge-level.json
  grafana/dashboards/charges.json
  grafana/dashboards/charging-stats.json
  grafana/dashboards/drive-stats.json
  grafana/dashboards/drives.json
  grafana/dashboards/efficiency.json
  grafana/dashboards/internal/charge-details.json
  grafana/dashboards/internal/drive-details.json
  grafana/dashboards/internal/home.json
  grafana/dashboards/locations.json
  grafana/dashboards/mileage.json
  grafana/dashboards/overview.json
  grafana/dashboards/projected-range.json
  grafana/dashboards/reports/dutch-tax.json
  grafana/dashboards/states.json
  grafana/dashboards/statistics.json
  grafana/dashboards/timeline.json
  grafana/dashboards/trip.json
  grafana/dashboards/updates.json
  grafana/dashboards/vampire-drain.json
  grafana/dashboards/visited.json
  nix/module.nix
  website/docs/installation/debian.md
  website/docs/installation/freebsd.md
Labels: area:dashboard

#4529 feat: Translate remaining Spanish sentences
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/errors.po
Labels: enhancement

#4546 feat(dashboards): improve elevation scale in drive stats
  grafana/dashboards/internal/drive-details.json
Labels: area:dashboard

#4558 docs: add reindexing instructions for database maintenance to improve performance in case of index bloat due to frequent updates or deletions
  CHANGELOG.md
  website/docs/configuration/environment_variables.md
  website/docs/development.md
  website/docs/guides/apache.md
  website/docs/guides/traefik.md
  website/docs/maintenance/manually_fixing_data.mdx
Labels: kind:documentation
