Repository teslamate-org/teslamate, pull requests merged in 2025-08, with the labels that each got.

#4870 feat(nix): use datasources.settings.datasources to allow merging Grafana sources from multiple modules, correctly set default Grafana dashboard path and allow disabling default Grafana dashboard with setDefaultDashboard option
  CHANGELOG.md
  nix/module.nix
Labels: enhancement

#4875 feat(webview): update wording to View car location on Google Maps for clarity
  CHANGELOG.md
  lib/teslamate_web/live/car_live/summary.html.heex
  priv/gettext/ca/LC_MESSAGES/default.po
  priv/gettext/da/LC_MESSAGES/default.po
  priv/gettext/de/LC_MESSAGES/default.po
  priv/gettext/default.pot
  priv/gettext/en/LC_MESSAGES/default.po
  priv/gettext/es/LC_MESSAGES/default.po
  priv/gettext/fi/LC_MESSAGES/default.po
  priv/gettext/fr/LC_MESSAGES/default.po
  priv/gettext/it/LC_MESSAGES/default.po
  priv/gettext/ja/LC_MESSAGES/default.po
  priv/gettext/ko/LC_MESSAGES/default.po
  priv/gettext/nb/LC_MESSAGES/default.po
  priv/gettext/nl/LC_MESSAGES/default.po
  priv/gettext/sv/LC_MESSAGES/default.po
  priv/gettext/th/LC_MESSAGES/default.po
  priv/gettext/tr/LC_MESSAGES/default.po
  priv/gettext/uk/LC_MESSAGES/default.po
  priv/gettext/zh_Hans/LC_MESSAGES/default.po
  priv/gettext/zh_Hant/LC_MESSAGES/default.po
  test/teslamate_web/live/car_summary_live_test.exs
Labels: enhancement, area:teslamate

#4892 i18n: add spanish car location translation
  priv/gettext/es/LC_MESSAGES/default.po
Labels: enhancement

#4901 docs: for new installs, pin postgres container to debian trixie to avoid collation version mismatch
  CHANGELOG.md
  website/docs/installation/docker.md
  website/docs/maintenance/upgrading_postgres.md
Labels: docker
